.App {
  font-family: "Bahnschrift", "Arial Narrow", Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fff6eb;
}

.App-header {
  font-family: "Bahnschrift";
  text-align: center;
  font-size: calc(20px + 2vmin);
}

@media only screen and (max-width: 480px) {
  .album-cover {
    border: 5px solid;
    margin: 10px;
    width: 100%;
  }
  .album-cover-player {
    border: 5px solid;
    width: 100%;
  }
  .tutorial {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .album-cover {
    border: 10px solid;
    margin: 10px;
    width: 30%;
  }
  .album-cover-player {
    border: 10px solid;
    width: 50%;
  }
  .tutorial {
    width: 50%;
  }
}

.naraja {
  color: #c55a10;
}

.dark-naraja {
  color: #94440c;
}

.light-naraja {
  color: #ff6a00;
}

.fade-item {
  transition: 2s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
